USE [AjraLabTest]
GO
/****** Object:  Table [dbo].[Skills]    Script Date: 08/15/2020 01:32:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Skills](
	[Id] [int] NOT NULL,
	[Skill] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Skills] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Skills] ([Id], [Skill]) VALUES (1, N'C#')
INSERT [dbo].[Skills] ([Id], [Skill]) VALUES (2, N'C++')
INSERT [dbo].[Skills] ([Id], [Skill]) VALUES (3, N'Java')
/****** Object:  Table [dbo].[Country]    Script Date: 08/15/2020 01:32:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Country](
	[Id] [int] NOT NULL,
	[Country] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Country] ([Id], [Country]) VALUES (1, N'Bangladesh')
INSERT [dbo].[Country] ([Id], [Country]) VALUES (2, N'India')
INSERT [dbo].[Country] ([Id], [Country]) VALUES (3, N'Nepal')
/****** Object:  Table [dbo].[City]    Script Date: 08/15/2020 01:32:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[City](
	[Id] [int] NOT NULL,
	[CountryId] [int] NOT NULL,
	[City] [varchar](50) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[City] ([Id], [CountryId], [City]) VALUES (1, 1, N'Dhaka')
INSERT [dbo].[City] ([Id], [CountryId], [City]) VALUES (2, 1, N'Chittagong')
INSERT [dbo].[City] ([Id], [CountryId], [City]) VALUES (3, 1, N'Rajshahi')
/****** Object:  Table [dbo].[PersonInfo]    Script Date: 08/15/2020 01:32:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PersonInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[CountryId] [int] NOT NULL,
	[CityId] [int] NOT NULL,
	[LanguageSkills] [varchar](100) NOT NULL,
	[DOB] [date] NOT NULL,
	[Attachment] [varbinary](max) NULL,
	[FileName] [varchar](100) NULL,
	[FileContentType] [varchar](50) NULL,
 CONSTRAINT [PK_PersonInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[PersonInfo] ON
INSERT [dbo].[PersonInfo] ([Id], [Name], [CountryId], [CityId], [LanguageSkills], [DOB], [Attachment], [FileName], [FileContentType]) VALUES (6, N'XX', 1, 3, N'C#, C++, SQL', CAST(0x77410B00 AS Date), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[PersonInfo] OFF
/****** Object:  StoredProcedure [dbo].[SP_GetPerson]    Script Date: 08/15/2020 01:32:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetPerson]
	--@Id int =NULL
AS
BEGIN
	Select a.Id,a.Name,b.Country,c.City,a.LanguageSkills,DOB,a.Attachment,a.FileName,a.FileContentType
	From PersonInfo a
	Inner join Country b on b.Id=a.CountryId
	Inner join City c on c.Id=a.CityId
	Order By a.Id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllPersonWithPagination_SQL2012]    Script Date: 08/15/2020 01:32:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllPersonWithPagination_SQL2012]
	@currentPage INT=1,	
	@pageSize INT=10,
	@filter varchar(500)='',  
	@sortingColumn varchar(500)='Id',
	@sortingOrder varchar(500)='Asc' 
	
	-- Exec SP_GetAllPerson 1,10,'xx','x','y'
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @totalRow INT,
			@From INT = (@currentPage-1)*@pageSize,
			@SQLQuery varchar(5000)
			
	IF(@filter !='')
		BEGIN
			SET @totalRow= ( SELECT COUNT(*) FROM 
					(Select a.Id,a.Name,b.Country,c.City,a.LanguageSkills,DOB,a.Attachment,a.FileName,a.FileContentType
					From PersonInfo a
					Inner join Country b on b.Id=a.CountryId
					Inner join City c on c.Id=a.CityId
					)a 
				WHERE (Name LIKE '%'+@filter+'%' OR LanguageSkills LIKE '%'+ @filter+'%' OR DOB LIKE '%'+@filter+'%' OR Country LIKE '%'+@filter+'%' OR City LIKE '%'+@filter+'%')
				)
			
			SET @SQLQuery ='Select * From(Select a.Id,a.Name,b.Country,c.City,a.LanguageSkills,DOB,a.Attachment,a.FileName,a.FileContentType,'+CONVERT(varchar,@totalRow)+' as TotalRecords
			From PersonInfo a
			Inner join Country b on b.Id=a.CountryId
			Inner join City c on c.Id=a.CityId
			)a
			Where (Name LIKE ''%'+CONVERT(varchar,@filter)+'%'' or LanguageSkills LIKE ''%'+CONVERT(varchar,@filter)+'%''
			 or DOB LIKE ''%'+CONVERT(varchar,@filter)+'%'' or Country LIKE ''%'+CONVERT(varchar,@filter)+'%'' or City LIKE ''%'+CONVERT(varchar,@filter)+'%'' )  
			Order By '+ @sortingColumn +' '+ @sortingOrder +'
			OFFSET '+CONVERT(varchar,@From)+' ROWS
			FETCH NEXT '+CONVERT(varchar,@pageSize)+' ROWS ONLY OPTION (RECOMPILE)'
		END
	ELSE
		BEGIN
			SET @totalRow=(SELECT COUNT(*) FROM 
					(Select a.Id,a.Name,b.Country,c.City,a.LanguageSkills,DOB,a.Attachment,a.FileName,a.FileContentType
					From PersonInfo a
					Inner join Country b on b.Id=a.CountryId
					Inner join City c on c.Id=a.CityId
					)a 
				)			
			SET @SQLQuery ='
			Select * From(Select a.Id,a.Name,b.Country,c.City,a.LanguageSkills,DOB,a.Attachment,a.FileName,a.FileContentType,'+CONVERT(varchar,@totalRow)+' as TotalRecords
			From PersonInfo a
			Inner join Country b on b.Id=a.CountryId
			Inner join City c on c.Id=a.CityId
			)a 
			Order By '+ @sortingColumn +' '+ @sortingOrder +'
			OFFSET '+CONVERT(varchar,@From)+' ROWS
			FETCH NEXT '+CONVERT(varchar,@pageSize)+' ROWS ONLY OPTION (RECOMPILE)'
	
		END

	--print @SQLQuery
	exec (@SQLQuery)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllPersonWithPagination_SQL2008]    Script Date: 08/15/2020 01:32:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllPersonWithPagination_SQL2008]
	@currentPage INT=1,	
	@pageSize INT=10,
	@filter varchar(500)='',  
	@sortingColumn varchar(500)='Id',
	@sortingOrder varchar(500)='Asc' 
	
	-- Exec SP_GetAllPerson_SQL2008 1,2,'','x','y'
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @totalRow INT,
			@From INT = (@currentPage-1)*@pageSize+1,
			@SQLQuery varchar(5000)
			
	IF(@filter !='')
		BEGIN
			SET @totalRow= ( SELECT COUNT(*) FROM 
					(Select a.Id,a.Name,b.Country,c.City,a.LanguageSkills,DOB,a.Attachment,a.FileName,a.FileContentType
					From PersonInfo a
					Inner join Country b on b.Id=a.CountryId
					Inner join City c on c.Id=a.CityId
					)a 
				WHERE (Name LIKE '%'+@filter+'%' OR LanguageSkills LIKE '%'+ @filter+'%' OR DOB LIKE '%'+@filter+'%' OR Country LIKE '%'+@filter+'%' OR City LIKE '%'+@filter+'%')
				)
			
			SET @SQLQuery ='
			Select * From (
				Select *,ROW_NUMBER() OVER (Order By '+ @sortingColumn +' '+ @sortingOrder +') AS rowNum 
				From(Select a.Id,a.Name,b.Country,c.City,a.LanguageSkills,DOB,a.Attachment,a.FileName,a.FileContentType,'+CONVERT(varchar,@totalRow)+' as TotalRecords
					From PersonInfo a
					Inner join Country b on b.Id=a.CountryId
					Inner join City c on c.Id=a.CityId
				)x 
			)a
			Where rowNum between '+CONVERT(varchar,@From)+' And '+CONVERT(varchar,@From+@pageSize-1)+'
			AND (Name LIKE ''%'+CONVERT(varchar,@filter)+'%'' or LanguageSkills LIKE ''%'+CONVERT(varchar,@filter)+'%''
			 or DOB LIKE ''%'+CONVERT(varchar,@filter)+'%'' or Country LIKE ''%'+CONVERT(varchar,@filter)+'%'' or City LIKE ''%'+CONVERT(varchar,@filter)+'%'' )  
			'
		END
	ELSE
		BEGIN
			SET @totalRow=(SELECT COUNT(*) FROM 
					(Select a.Id,a.Name,b.Country,c.City,a.LanguageSkills,DOB,a.Attachment,a.FileName,a.FileContentType
					From PersonInfo a
					Inner join Country b on b.Id=a.CountryId
					Inner join City c on c.Id=a.CityId
					)a 
				)			
			SET @SQLQuery ='
			Select * From (
				Select *,ROW_NUMBER() OVER (Order By '+ @sortingColumn +' '+ @sortingOrder +') AS rowNum 
				From(Select a.Id,a.Name,b.Country,c.City,a.LanguageSkills,DOB,a.Attachment,a.FileName,a.FileContentType,'+CONVERT(varchar,@totalRow)+' as TotalRecords
					From PersonInfo a
					Inner join Country b on b.Id=a.CountryId
					Inner join City c on c.Id=a.CityId
				)x 
			)a
			Where rowNum between '+CONVERT(varchar,@From)+' And '+CONVERT(varchar,@From+@pageSize-1)+'
			'
	
		END

	--print @SQLQuery
	exec (@SQLQuery)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateOrUpdatePerson]    Script Date: 08/15/2020 01:32:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CreateOrUpdatePerson]
	@Id int,
	@Name varchar(50),
	@CountryId int,
	@CityId	int,
	@LanguageSkills	varchar(150),
	@DOB date,
	@Attachment	varbinary(MAX)=null,
	@FileName varchar(100),	
	@FileContentType varchar(50)	
AS
BEGIN
	IF EXISTS(SELECT * FROM PersonInfo WHERE Id = @Id)
		BEGIN
			UPDATE PersonInfo
			SET
				Name	=	@Name,
				CountryId	=	@CountryId,
				CityId	=	@CityId,
				LanguageSkills	=	@LanguageSkills,
				DOB	=	@DOB,
				Attachment	=	@Attachment,
				FileName=@FileName,
				FileContentType = @FileContentType				
			WHERE Id = @Id
		END
	ELSE
		BEGIN
			INSERT INTO PersonInfo
			(
				Name,
				CountryId,
				CityId,
				LanguageSkills,
				DOB,
				Attachment,
				FileName,
				FileContentType	
			)
			VALUES
			(
				@Name,
				@CountryId,
				@CityId,
				@LanguageSkills,
				@DOB,
				@Attachment,
				@FileName,
				@FileContentType
			)
		END
END
GO
/****** Object:  ForeignKey [FK_City_Country]    Script Date: 08/15/2020 01:32:15 ******/
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([Id])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_Country]
GO
/****** Object:  ForeignKey [FK_PersonInfo_City]    Script Date: 08/15/2020 01:32:15 ******/
ALTER TABLE [dbo].[PersonInfo]  WITH CHECK ADD  CONSTRAINT [FK_PersonInfo_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[PersonInfo] CHECK CONSTRAINT [FK_PersonInfo_City]
GO
/****** Object:  ForeignKey [FK_PersonInfo_Country]    Script Date: 08/15/2020 01:32:15 ******/
ALTER TABLE [dbo].[PersonInfo]  WITH CHECK ADD  CONSTRAINT [FK_PersonInfo_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([Id])
GO
ALTER TABLE [dbo].[PersonInfo] CHECK CONSTRAINT [FK_PersonInfo_Country]
GO
